<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="styles/game.css">
    </head>
    <body>
      <div id="container">
        <canvas id="canvas">
        </canvas>

        <div id="chatbox-container">
          <form id="chat-form" action="">
            <input id="chatbox" type="text" value="">
          </form>
        </div>
      </div>

      <script src="socket.io.js"></script>
      <script data-main="main" src="require.js"></script>
    </body>
</html>